@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #FFF5EA;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
    font-family: Poppins, sans-serif;
    margin: 0;
}

h1 {
    font-size: 7em;
    margin: 0;
}

h4 {
    margin: 0;
}

hr {
    border-top: 8px solid forestgreen;
    margin: 0 2%;
}

.title {
    background-color: forestgreen;
    height: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0.5em;
}

.row-container {
    margin:0.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-guide-container {
    width: 50%;
    font-style: italic;
    margin-left: 9em;
    text-indent: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space;
}

.row-guide-container p {
    margin: 0;
}


.word-spacing {
    margin-left: 1.5em;
    word-spacing: 3em;
}

.info-content {
    margin-left: 1.5em;
    padding: 0.5em;
}

.info {
    border: 3px solid forestgreen;
    margin: 0.3em;
    width: 100%;
    display: flex;
}

.info-title {
    border-right: 3px solid forestgreen;
    padding: 0.5em;
    font-weight: bold;
    width: 35%;

}

#header {
    display: flex;
    flex-direction: column;
}

#header-content {
    background-color: var(--color-primary);
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#my-picture {
    border: 2px solid forestgreen;
    height: 10em;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 85%;
}

#left-container {
    background-color: var(--color-primary);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left-content {
    /*background-color: lightgrey;*/
    height: 95%;
    width: 90%;
}

#personal-data {
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;

}

#right-container {
    background-color: var(--color-primary);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right-content {
    background-color: lightgrey;
    height: 95%;
    width: 90%;
}
